.info {
	position: relative;

	font-size: 18px;

	&__map,
	&__tel {
		padding-left: 35px;

		&::before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;

			transform: translate(0%, -10%);

			width: 21px;
			height: 21px;

			background: center/cover no-repeat;
		}
	}

	&__map::before {
		background: url('../assets/img/header/map.svg') no-repeat center/cover;
	}

	&__tel::before {
		background: url('../assets/img/header/phone.svg') no-repeat center/cover;
	}

	@include mediaTablet {
		font-size: 14px;
	}
}
